<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% "Ishwar Kripa Vidhya Mandir" %></title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="overlay">
    <h1>Welcome to IKVM</h1>
    <p>Feel the Difference with Us</p>
    <p>Empowering Education with Discipline & Values</p>

    <div class="stats">
      <div class="stat-box">
        <h2>2000+</h2>
        <p>Students</p>
      </div>
      <div class="stat-box">
        <h2>100+</h2>
        <p>Teachers</p>
      </div>
      <div class="stat-box">
        <h2>15+ year</h2>
        <p>Experience</p>
      </div>
      <div class="stat-box">
        <h2>A+</h2>
        <p>Grade</p>
      </div>
    </div>

    <div class="login-box">
      <h3>Existing Students</h3>
      <button type="button" onclick="window.location.href='/login'">
        Click to Login
      </button>
      
      
    </div>
</body>
</html>
