<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><% title %></title>
  <link rel="stylesheet" href="/register.css">
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form action="/login" method="post">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <input type="submit" value="Login">
    </form>

    <!-- <p>Don't have an account? <a href="/register">Register</a></p> -->
  </div>
</body>
</html>
