<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <h1>ADD TEACHER</h1>
        <form action="/head/add-teacher" method="post">
            <div class="formline">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
            </div>

            <div class="formline">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" required>
            </div>


            <div><label for=""><input type="text"></label></div>
            <div><label for=""><input type="text"></label></div>
            <div><label for=""><input type="text"></label></div>
            <div><label for=""><input type="text"></label></div>
        </form>
    </div>
</body>
</html>