<h1 style="text-align:center;">All Students</h1>

<!-- Class filter -->
<div style="text-align:center; margin-bottom:10px;">
    <label>Filter by Class: </label>
    <select id="classFilter" onchange="filterTable()">
        <option value="">All</option>
        <option value="6th">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9th">9</option>
        <option value="10th">10</option>
        <option value=11th">11</option>
        <option value="12th">12</option>
        <!-- aur classes yaha add kar do -->
    </select>

    <!-- Find Student by name -->
    <input id="findInput" onkeyup="filterTable()" placeholder="Find student by name">
</div>

<table border="1" width="80%" style="margin:auto;">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody id="studentTable">
        <% students.forEach((student, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= student.name %></td>
                <td><%= student.classNo || "N/A" %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<script>
function filterTable() {
    const classVal = document.getElementById('classFilter').value.toLowerCase();
    const searchVal = document.getElementById('findInput').value.toLowerCase();


    let rows = document.querySelectorAll('#studentTable tr');
    let serial = 1;

for (let i = 0; i < rows.length; i++) {
    let name = rows[i].cells[1].innerText.toLowerCase();
    let cls = rows[i].cells[2].innerText.toLowerCase();

    // Simple check
    if ((classVal == "" || cls == classVal) && (searchVal == "" || name.indexOf(searchVal) != -1)) {
        rows[i].style.display = "";      // show row
        rows[i].cells[0].innerText = serial++; // update serial
    } else {
        rows[i].style.display = "none";  // hide row
    }
}

}
</script>
